body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier New", Courier, monospace;
  background-color: #ffebf0;
  color: #d63384;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

.leaf {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff8800;
  clip-path: ellipse(40% 50% at 50% 50%);
  opacity: 0.8;
  z-index: -100;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#valentineQuestion {
  font-size: 50px;
  margin-bottom: 10px;
  animation: floatUpDown 3s ease-in-out infinite;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #ffe3e1;
}

footer {
  position: fixed; /* Fix it at the bottom */
  bottom: 0; /* Attach to bottom */
  left: 0; /* Align left */
  width: 100%; /* Full width */
  text-align: center;
  background-color: rgba(255, 77, 109, 0.2); /* Light pink background */
  padding: 10px;
  font-size: 14px;
  color: #ff4d6d;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
